@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.tabela{
    text-align: center;
    width: 80px;
    height: 90px;
    background-color: rgb(58, 218, 218);
    
}